.grid {
  display: grid;
  gap: 4rem;
  margin-top: 1rem;
}

/* variantes */
.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* responsive automático */
.auto {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* responsive para tablets y móviles */
@media (max-width: 768px) {
  .grid {
    gap: 1rem;
  }

  .cols-2,
  .cols-3 {
    grid-template-columns: 1fr;
  }
}