.grid {
  display: grid;
  gap: 1rem;
}

/* variantes */
.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* responsive automático */
.auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}